{% set counter = 1 %}

{#
	result:
		MailingCity
#}
<style>
	h1 { display:none; }
</style>
<h2>Browse by City</h2>

<a href="javascript: history.go(-1);">Back to Previous Page</a>

{% if error|length %}
	<p style='font-style:italic;'>
		Error: {{ error }}
	</p>
{% endif %}

<p style="background-color:#eee; padding:8px;font-style:italic;">
	{# query #}
</p>
<ul id="group-results">
	{% for result in results %}
	<li>
		{# counter #}
		{% set counter = counter + 1 %}
		<a href="/directory/search?MailingCity={{ result.MailingCity }}">{{ result.MailingCity }}</a>
	</li>
	{% endfor %}
</ul>